@tailwind base;
@tailwind components;
@tailwind utilities;

.box-statistic {
  width: 921px;
  height: 391px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 21px;
}

.mini-box {
  width: 623px;
  height: 391px;
}

.input-box {
  width: 302px;
  height: 186px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 21px;
}
